<div >

    <!--Header-->
    <header class="navbar navbar-fixed-top">
        <div id="menu">
            <nav class="navbar-wrapper navbar-default" role="navigation">
                <div class="container">
                      <div class="navbar-header">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a  class="pull-left" href="index.html"><H1><b>AX</b>IT</H1></a>
                      </div>
             
                      <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a style="cursor:pointer" ng-click="scrollTo('about')">About</a></li>
                            <li><a style="cursor:pointer" ng-click="scrollTo('pricing-table')">Pricing</a></li>
                            <li><a style="cursor:pointer" ng-click="scrollTo('reviews')">Reviews</a></li>
                            <li><a style="cursor:pointer" ng-click="scrollTo('contact-page')">Contact</a></li>
                            <li><a style="cursor:pointer" ng-click="gotoDashboard()">Dashboard</a></li>
                        </ul>
                      </div>
                </div>
            </nav>
        </div>
    </header>
    
    <!-- /header -->

    <!--Slider-->
    <section id="home" style="padding:0">
        <div class="fullscreen landing parallax" style="background-image:url('images/new/dark1.jpg');" data-img-width="2000" data-img-height="1433" data-diff="100">
    
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <!-- /.main title -->
                                <h2 class="wow fadeInLeft">
                                AXIT
                                </h2>

                            <!-- /.header paragraph -->
                            <div class="landing-text wow fadeInUp">
                                <p>MODERN AXUR TEMPLETE FOR BUTIFULE PROTOTYPES</p>
                            </div>                
                        </div> 
                        
                        <!-- /.signup form -->
                        <div style="display: -webkit-box;" align="right">
                        
                            <div align="right" class="signup-header wow fadeInUp">
                                
                                <div width="50%" style="border-radius:5px;background-color:white">
                                    <div class="get-started"  ><font style="font-family:inherit;">Try Your</font> <font style="color:orange;">FREE</font> <font style="font-family:inherit;">Trial Today</font></div>
                                    <input style="border:0; margin-bottom:0" class="form-control input-lg" name="MERGE1" id="name" type="text" placeholder="Name" required />
                                    </BR>
                                    <input  style="border:0; margin-bottom:0" class="form-control input-lg" name="MERGE0" id="email" type="email" placeholder="Email" required />
                                    </BR>
                                    <input  style="border:0; margin-bottom:0" class="form-control input-lg" name="MERGE0" id="email" type="password" placeholder="Password" required />
                                    </BR>
                                    <input type="submit" class="btn btn-warning btn-block btn-lg" value="Get Started" />
                                </div>
                            </div>              
                        
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
<!-- /slider-wrapper -->           
</section>

</BR></BR></BR>

<!--Services-->
<section id="about">
    
        <div class="container">
            <div class="row">

            <!-- /.intro image -->
                <div class="col-md-6 intro-pic wow slideInLeft">
                    <img src="images/new/dark2.jpg" style="max-height:300px;min-width:300px;width:100%" alt="image" class="img-responsive">
                </div>  
                
                <!-- /.intro content -->
                <div class="col-md-6 wow slideInRight">
                    <h2>Sub List Section</h2>
                    <p>Good marketing makes the company look smart. <a href="#">Great marketing</a> makes the customer feel smart, - Joe Chernov. Never doubt a small group of thoughtful, committed people can change the world. Indeed, it is the only thing that ever has, - Margaret Mead. The best way to predict the future is to create it, - Peter Drucker.
                    </p>

                        <div class="btn-section"><a href="#feature" class="btn-default">Learn More</a></div>
            
                </div>
            </div>            
        </div>
   
</section>

<section id="about">
    
        <div class="container">
            <div class="row">

            <!-- /.intro image -->
                <!-- /.intro content -->
                <div class="col-md-6 wow slideInRight">
                    <h2>Standard Picture solutions</h2>
                    <p>Good marketing makes the company look smart. <a href="#">Great marketing</a> makes the customer feel smart, - Joe Chernov. Never doubt a small group of thoughtful, committed people can change the world. Indeed, it is the only thing that ever has, - Margaret Mead. The best way to predict the future is to create it, - Peter Drucker.
                    </p>

                        <div class="btn-section"><a href="#feature" class="btn-default">Learn More</a></div>
            
                </div>

                 <div class="col-md-6 intro-pic wow slideInLeft">
                    <img src="images/new/dark3.jpg" style="max-height:300px;min-width:300px;width:100%" alt="image" class="img-responsive">
                </div> 
            </div>            
        </div>
   
</section>
<!--/Services-->

<section id="pricing-table" class="container">
        <div class="center">
            <h2>Pricing Options</p>
        </div>

        <div class="big-gap"></div>

        <div class="row-fluid center clearfix">
            <div class="span3">
                <ul class="plan plan1">
                    <li class="plan-name">
                        <h3>Basic</h3>
                    </li>
                    <li class="plan-price">
                        <strong>$29</strong> / month
                    </li>
                    <li>
                        <strong>5GB</strong> Storage
                    </li>
                    <li>
                        <strong>1GB</strong> RAM
                    </li>
                    <li>
                        <strong>400GB</strong> Bandwidth
                    </li>
                    <li>
                        <strong>10</strong> Email Address
                    </li>
                    <li>
                        <strong>Forum</strong> Support
                    </li>
                    <li class="plan-action">
                        <a href="#" class="btn btn-transparent">Signup Now!</a>
                    </li>
                </ul>
            </div>

            <div class="span3">
                <ul class="plan plan2 featured">
                    <li class="plan-name">
                        <h3>Standard</h3>
                    </li>
                    <li class="plan-price">
                        <strong>$39</strong> / month
                    </li>
                    <li>
                        <strong>5GB</strong> Storage
                    </li>
                    <li>
                        <strong>1GB</strong> RAM
                    </li>
                    <li>
                        <strong>400GB</strong> Bandwidth
                    </li>
                    <li>
                        <strong>10</strong> Email Address
                    </li>
                    <li>
                        <strong>Forum</strong> Support
                    </li>
                    <li class="plan-action">
                        <a href="#" class="btn btn-transparent">Signup Now!</a>
                    </li>
                </ul>
            </div>

            <div class="span3">
                <ul class="plan plan3">
                    <li class="plan-name">
                        <h3>Advanced</h3>
                    </li>
                    <li class="plan-price">
                        <strong>$199</strong> / month
                    </li>
                    <li>
                        <strong>50GB</strong> Storage
                    </li>
                    <li>
                        <strong>8GB</strong> RAM
                    </li>
                    <li>
                        <strong>1024GB</strong> Bandwidth
                    </li>
                    <li>
                        <strong>Unlimited</strong> Email Address
                    </li>
                    <li>
                        <strong>Forum</strong> Support
                    </li>
                    <li class="plan-action">
                        <a href="#" class="btn btn-transparent">Signup Now!</a>
                    </li>
                </ul>
            </div>

            <div class="span3">
                <ul class="plan plan4">
                    <li class="plan-name">
                        <h3>Advanced</h3>
                    </li>
                    <li class="plan-price">
                        <strong>$199</strong> / month
                    </li>
                    <li>
                        <strong>50GB</strong> Storage
                    </li>
                    <li>
                        <strong>8GB</strong> RAM
                    </li>
                    <li>
                        <strong>1024GB</strong> Bandwidth
                    </li>
                    <li>
                        <strong>Unlimited</strong> Email Address
                    </li>
                    <li>
                        <strong>Forum</strong> Support
                    </li>
                    <li class="plan-action">
                        <a href="#" class="btn btn-transparent">Signup Now!</a>
                    </li>
                </ul>
            </div>
        </div>
        <p>&nbsp;</p>
    </section>


<div id="reviews">
    <div class="container">
        <div class="text-center">
            <h2 class="wow fadeInLeft">Reviews</h2>
            <div class="title-line wow fadeInRight"></div>
        </div>
        <div class="row">
            <div class="col-md-6" align="center">
                <img src="images/sample/avatar.jpg" alt="client">
                    <p>Everything looks great... Thanks for the quick revision turn around. We were lucky to find you guys and will definitely be using some of your other services in the near future.</p>            
            </div>
            <div class="col-md-6" align="center">
                <img src="images/sample/cAvatar1.jpg" alt="client">
                    <p>We are very happy and satisfied with Backyard service. Our account manager is efficient and very knowledgeable. It was able to create a vast fan base within very short period of time. We would highly recommend Backyard App to anyone.</p>
            </div>
           
        </div>  
        <div class="row">
            
            <div class="col-md-6" align="center">
                <img src="images/sample/img-team-thumb1.png" alt="client">
                    <p>Overall, the two reports were very clear and helpful so thank you for the suggestion to do the focus group. We are currently working with our developer to implement some of these suggestions.</p>           
            </div>  
        </div>  
    </div>
</div>

<!-- contact page -->

<section id="contact-page" class="container">
        <div class="row-fluid">

            <div>
                <h2 align='center' style="font-family:-webkit-pictograph">CONTACT US</h2>
                </BR></BR>
                <div class="status alert alert-success" style="display: none"></div>
                   <div class="row-fluid">
                    <div class="span5">
                        <input style="border:0;margin-bottom:0" type="text" class="input-block-level" required placeholder="Name" ng-model="contactName">
                        <input style="border:0;margin-bottom:0" type="text" class="input-block-level" required placeholder="Email" ng-model="contactEmail">
                        <input style="border:0;margin-bottom:0" type="text" class="input-block-level" required placeholder="Subject" ng-model="contactSubject">
                    </div>
                    <div class="span7">
                        <textarea name="message" id="message" required class="input-block-level" rows="8" placeholder="Message" ng-model="contactMessage"></textarea>
                    </div>
                </div>
            <button type="submit" class="btn btn-primary btn-large pull-right" ng-click="submitContactUsForm()">Send Message</button>
        </div>
    </div>

</section>

<!--/bottom-->

<!--Footer-->
<footer id="footer" align='center'>
    <div class="container" align='center'>
        <div class="row-fluid" align='center'>
            <div class="span6" align='center'>
                <ul class="social pull-right">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-google-plus"></i></a></li>                       
                    <li><a href="#"><i class="icon-youtube"></i></a></li>
                    <li><a href="#"><i class="icon-tumblr"></i></a></li>                        
                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    <li><a href="#"><i class="icon-rss"></i></a></li>
                    <li><a href="#"><i class="icon-github-alt"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>                   
                </ul>
            </div>

        </div>
    </div>
</footer>
</div>
